#archive {
  #content > div { &, > article { padding-top: 0; } }
}
#blog-archives {
  article {
    padding: 0;
    position: relative;
    background: $img-border bottom left repeat-x;
    &:last-child {
      background: none;
    }
    footer { padding: 0; margin: 0;}
  }
  h1 { color: $text-color; margin-bottom: .3em; }
  h2 { display: none; }
  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    a {
      @include hover-link;
      color: inherit;
      &:hover { color: $link-color-hover; }
      font-weight: normal;
      display: inline-block;
    }
  }
  h1 {
    margin-top: 5px;
    a {
      @include hover-link;
      color: inherit;
      &:hover { color: $link-color-hover; }
      font-weight: normal;
      display: inline-block;
    }
  }
  a.category, a.tag
  {
    @extend .sans;
    color: #fff;
  }
  a.category:hover, a.tag:hover {
    color: #fff;
  }

  time {
    @extend .sans;
    color: $text-color-light;
  }
  color: $text-color-light;
  .entry-content { display: none; }
  time {
    font-size: .9em;
    line-height: 1.5em;
    .month, .day { display: inline-block; }
    .month { text-transform: uppercase; }
  }
  p { margin-bottom: 1em; }
  &, .entry-content { a { @include link-colors(inherit, $link-color-hover); }}
  a:hover { color: $link-color-hover; }
  @media only screen and (min-width: 550px) {
    article { margin-left: 1em; }
    h2 {
      margin-bottom: .3em;
      font-weight: normal;
      display: inline-block;
      position: relative; top: -1px;
      float: left;
      &:first-child { padding-top: .75em; }
    }
    time {
      position: absolute;
      text-align: right;
      left: 0em;
      top: 0em;
    }
    .year { display: none; }
    article {
      padding:{left: 4.5em; bottom: .7em;}
    }
    a.category, a.tag  {
      line-height: 1.5em;
    }
  }
}
#content > .category, .tag {
  article {
    margin-left: 0;
    padding-left: 6.8em;
  }
  .year { display: inline; }
}

div.panel-tag-cloud {
  padding: 10px 15px;
}
