/* from whiterspace */
article {
  img, video, .flash-video {
    @extend .flex-content;
    @extend .basic-alignment;
  }

img:not(.no-border) {
box-shadow:rgba(49, 127, 230, 0.54902) 0px 0px 3px 2px;
-webkit-box-shadow:rgba(49, 127, 230, 0.54902) 0px 0px 3px 2px;
-moz-box-shadow:rgba(49, 127, 230, 0.54902) 0px 0px 3px 2px;
}

  video, .flash-video { margin: 0 auto 1.5em; }
  video { display: block; width: 100%; }
  .flash-video {
    > div {
      position: relative;
      display: block;
      padding-bottom: 56.25%;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  > footer {
    padding-bottom: 1em;
    margin-top: 2em;
    p.meta {
      margin-bottom: .8em;
      clear: both;
    }
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

/* syui */
.page-header {
 padding-bottom: 0px;
 margin: 0;
 border-bottom: 0px solid #eee;
 }


article>footer {
padding-bottom: 24px;
margin-top: 0em;
}

/* our own */
.page-header {
    p.meta {
        margin-bottom: 0;
        padding-left: 3px;
    }
    .entry-title {
        margin-top: 10px;
    }
}

/* bottom pager */
.pager {
    margin-top: 30px;
}

.meta.pager {
    margin-top: 30px;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  border: none;
  margin: 0;
}

.pager li > a:hover {
span.icon-phoenix:hover {
  background-color: #fff;
  color: #990000;
  //color: #000;
  transition: 0.7s;
  //-webkit-border-radius: 25px;
  //-moz-border-radius: 25px;
  //border-radius: 25px;
  //border: 1px solid #000;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  /* box-shadow */
  text-shadow: 0px 0px 7px rgba(60, 159, 255, 1);
  -webkit-text-shadow: 0px 0px 7px rgba(60, 159, 255, 1);
  -moz-text-shadow: 0px 0px 7px rgba(60, 159, 255, 1);
  -ms-text-shadow: 0px 0px 7px rgba(60, 159, 255, 1);
  -o-text-shadow: 0px 0px 7px rgba(60, 159, 255, 1);
}
  background-color: #fff;
  color: #66CCFF;
  transition: 0.7s;
}

footer[role=contentinfo] {
border-top: solid 1px #ddd;
margin-top: 40px;
padding-top: 10px;
}


.category:hover, .tag:hover {
    color: #ffffff;
    background-color: #B2B2B2;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.category {
    color: #ffffff;
    font-size: 16px;
    margin: 4px;
    padding: 4px 8px;
    line-height: 3em;
    background-color: #428bca;
    white-space: normal;
    word-wrap: break-word;
}

.tag {
    color: #ffffff;
    font-size: 16px;
    margin: 4px;
    padding: 4px 8px;
    line-height: 3em;
    background-color: #99CCFF;
    white-space: normal;
    word-wrap: break-word;
}

.tag, .category {
  line-height: 1.5em;
  display: inline-block;
}

article.post:hover {
  background-color: #BFDCF5;
  //opacity: 0.8;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /* border-radius */
  border-radius:1px;
  -webkit-border-radius:1px;
  -moz-border-radius:1px;

  /* box-shadow */
  box-shadow:rgb(97, 165, 255) 0px 0px 3px 0px inset;
  -webkit-box-shadow:rgb(97, 165, 255) 0px 0px 3px 0px inset;
  -moz-box-shadow:rgb(97, 165, 255) 0px 0px 3px 0px inset;
}

