span.icon-phoenix-logo {
  font-size: 26px;
}

span.icon-phoenix-logo:hover {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #428bca;
}

//span.icon-phoenix {
//  font-size: 70px;
//}
//
//span.icon-phoenix:hover {
//  -webkit-transition: 0.3s ease-in-out;
//  -moz-transition: 0.3s ease-in-out;
//  -o-transition: 0.3s ease-in-out;
//  transition: 0.3s ease-in-out;
//  color: #428bca;
//}

span.icon-googleplus {
  font-size: 26px;
}
span.icon-googleplus:hover {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #CC3300;
}

span.icon-twitter {
  font-size: 26px;
}
span.icon-twitter:hover {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #33CCFF;
}

span.icon-feed {
  font-size: 26px;
}
span.icon-feed:hover {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #FF6600;
}

span.icon-vk {
  font-size: 26px;
}
span.icon-vk:hover {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #3366CC;
}

span.icon-hatena {
  font-size:26px;
  font-weight: bold;
  font-family:'Verdana';
  color: #fff;
}

span.icon-hatena:hover {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #3366CC;
}

