#gh_repos {
h4 {
        color: #428bca;
        font-size: 16px;
        margin-bottom: 0px;
        border-left: 0px;
        padding-left: 3px;
}

    p {
        font-size: 13px;
        margin-bottom: 0px;
    }
}

.gh-profile-link {
    margin: 6px;
    font-size: 13px;
}
