---
layout: default
navbar: Blog
noToc: true
---

<div class="row">
  <div class="page-content {% unless site.default_asides == empty and site.blog_index_asides == empty %}col-md-9{% else %}col-md-12{% endunless %}">

    <div class="blog-index">
      {% assign index = true %}
      {% for post in paginator.posts %}
      {% assign content = post.content %}
        <article class="post">
          <header>
            {{ post.date | date: "%Y-%m-%d" }} | 
            <p class="meta text-muted text-uppercase">
               <span class="meta_data_head">{% include post/date.html %}{{ time }}</span>
                {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
                 | <span class="disqus_head"><a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
                    data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a></span>
                {% endif %}
              </p>
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
          </header>
          <div>{{ post.excerpt }}</div>
        </article>
      {% endfor %}
    </div>

    <ul class="pager">
      {% if paginator.next_page %}
        <li class="previous"><a href="{{paginator.next_page}}"><span class="octicon octicon-chevron-left" style="font-size:50px"></span></a></li>
      {% else %}
        <li class="previous disabled"><a href="#"><span class="octicon octicon-chevron-left" style="font-size:50px"></span></a></li>
      {% endif %}
      <li><a href="/blog/archives"><span class="icon-phoenix" style="font-size:50px"></span></a></li>
      {% if paginator.previous_page %}
        <li class="next"><a href="{{paginator.previous_page}}"><span class="octicon octicon-chevron-right" style="font-size:50px"></span></a></li>
      {% else %}
        <li class="next disabled"><a href="#"><span class="octicon octicon-chevron-right" style="font-size:50px"></span></a></li>
      {% endif %}
    </ul>

  </div>

  {% unless site.default_asides == empty and site.blog_index_asides == empty %}
    <aside class="sidebar col-md-3">
      {% if site.blog_index_asides.size %}
        {% include_array blog_index_asides %}
      {% else %}
        {% include_array default_asides %}
      {% endif %}
    </aside>
  {% endunless %}
</div>
